@model WebApplication5.Models.ArticleViewModel

@{
    ViewData["Title"] = "Hello, Student";
}


<h1>Submit Contribution</h1>
<form method="post" enctype="multipart/form-data" action="Add">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Student Name</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="" asp-for="StudentName">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Title</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="" asp-for="Title">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput" class="form-label">Description</label>
        <textarea class="form-control" id="formGroupExampleInput" rows="10" cols="80" placeholder="" asp-for="Description"></textarea>
    </div>
    <div class="mb-3">
        <label for="facultySelect" class="form-label">Select Faculty:</label>
        <select id="facultySelect" asp-for="FacultyId">
            <option value="1">IT</option>
            <option value="2">Business</option>
            <option value="3">Graphic Design</option>
            <option value="4">Doctor</option>
            <option value="5">Music</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">UploadDate</label>
        <input type="date" class="form-control" id="formGroupExampleInput" placeholder="" asp-for="UploadDate">
    </div>
    <div class="mb-3">
        <label for="imageFile" class="form-label">Upload Image</label>
        <input type="file" id="imageFile" name="imageFile" class="form-control-file" asp-for="ImageFile" />
    </div>
    <div class="mb-3">
        <label for="documentFile" class="form-label">Upload Document</label>
        <input type="file" id="documentFile" name="documentFile" class="form-control-file" asp-for="DocumentFile" />
    </div>
    <div class="mb-3">
        <input type="checkbox" class="form-check-input" id="formGroupExampleInputCheckbox" asp-for="AgreedToTerms">
        <label class="form-check-label" for="formGroupExampleInputCheckbox">I agree to the terms and conditions</label>
    </div>
    <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
</form>

<script>
    document.getElementById('submitButton').addEventListener('click', function (event) {
        var agreeCheckbox = document.getElementById('formGroupExampleInputCheckbox');
        if (!agreeCheckbox.checked) {
            alert('You must agree to the terms and conditions.');
            event.preventDefault(); // Ngăn form submit
        }
    });
</script>