@{
    ViewData["Title"] = "Marketing Coordinator Music";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to Marketing Coordinator Music Index Page</h1>
<p>Hello,  This is the Marketing Coordinator Music Index page content.</p>

<button id="submitBtn" class="btn btn-primary">View Contribution</button>

<script asp-controller="Article" asp-action="Index">
    document.getElementById("submitBtn").addEventListener("click", function () {
        window.location.href = "/MarketingCoordinator/Index4";
    });
</script>
