@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
        /* Custom styles */
        .image-container {
            text-align: center;
            margin-bottom: 20px;
        }

            .image-container img {
                max-width: 100%;
                height: auto;
            }

        main {
            min-height: calc(100vh - 80px);
        }
    </style>
</head>

<body>
    <main>
        <div class="row">
            <h1 class="display-4">University Magazine</h1>
            <p>
                The University's mission is to 'keep students close' to alumni and friends of students by nurturing pride; highlighting the achievements of students, staff, faculty and alumni; and demonstrating students's impact as an intellectual thought leader and private university dedicated to the public good. The magazine is published three times a year (fall, winter, spring/summer).
            </p>
            <a><img src="~/Articles/Images/logo01.jpg" height="400px" width="550px" /> <img src="~/Articles/Images/logo02.jpg" height="400px" width="550px" /></a>
            <a><img src="~/Articles/Images/logo03.jpeg" height="400px" width="550px" /> <img src="~/Articles/Images/logo04.jpg" height="400px" width="550px" /></a>
        </div>


        <p>-----------------</p>

        <footer>
            <h5 class="display-4">List Members</h5>
            <a>
                <img src="~/Articles/Images/Phat.jpg" height="250px" width="225px" /> <p>To love is to talk, to play is to do your best, to study is to try your best.</p>
                <p>Ngo Tien Phat - Programmer</p>
                <img src="~/Articles/Images/Quan.jpg" height="250px" width="225px" /> <p>Work does not support leisurely people, and collective work does not support lazy people.</p>
                <p>Luc Long Quan - Information Architect</p>
                <img src="~/Articles/Images/Tung.jpg" height="250px" width="225px" /> <p>Study, learn more, learn forever.</p>
                <p>Am Giang Hao Tung - Tester</p>
                <img src="~/Articles/Images/Huy.jpg" height="250px" width="225px" /> <p>On the path to success, there are no footprints of lazy people</p>
                <p>Luu Minh Huy - Web Designer</p>
                <img src="~/Articles/Images/Phuc.jpg" height="250px" width="225px" /> <p>Success does not come through luck but through real effort.</p>
                <p>Ho Huu Phuc - Programmer</p>
                <img src="~/Articles/Images/Nam.jpg" height="250px" width="225px" /> <p>Learning will be the fulcrum that leads to success.</p>
                <p>Nguyen Hoai Nam - Database Designer</p>
            </a>

        </footer>
    </main>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
